body {
    font-family: Arial;
    background-color: #f2f6f2;
}

h1, h2 {
    color: green;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
}

th {
    background-color: green;
    color: white;
}

th, td {
    padding: 5px;
    text-align: center;
}